# 기출문제 5회(2022.12.03)

## 1유형

In [ ]:
#1
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/trash_bag.csv',encoding='cp949')

print(df.head())

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]

In [3]:
print(df['용도'].unique())
print(df['사용대상'].unique())

['생활쓰레기' '음식물쓰레기']
['기타' '가정용' '사업장용' '영업용' '영업장용' '범용']

In [4]:
df_home_trash = df[(df['용도'] == '음식물쓰레기') & (df['사용대상']== '가정용')]
print(df_home_trash.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
8   강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16  강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
8     150    290      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
16    180    350      0    900      0   1350       0       0       0

[5 rows x 21 columns]

In [6]:
result_df = df_home_trash[df_home_trash['2L가격']!=0]
result_df.head()

,시도명,시군구명,종류,처리방식,용도,사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,5L가격,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격
3,강원도,고성군,규격봉투,소각용,음식물쓰레기,가정용,0,0,60,0,...,120,0,0,0,0,0,0,0,0,0
9,강원도,양구군,규격봉투,매립용,음식물쓰레기,가정용,0,0,50,0,...,120,210,400,0,0,0,0,0,0,0
12,강원도,양양군,규격봉투,기타,음식물쓰레기,가정용,0,0,40,0,...,90,170,340,0,0,0,0,0,0,0
20,강원도,원주시,규격봉투,기타,음식물쓰레기,가정용,0,0,80,0,...,170,320,680,0,1690,0,0,0,0,0
33,강원도,춘천시,규격봉투,매립용,음식물쓰레기,가정용,40,0,50,0,...,140,230,470,0,0,0,0,0,0,0

In [7]:
result = int(result_df['2L가격'].mean())
print(result)

119

In [9]:
# 2
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/BMI.csv')
print(df.head())

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110
3  Female     195     104
4    Male     149      61

In [10]:
df['Height_m'] = df['Height']/100
df['BMI'] = df['Weight'] / (df['Height_m']**2)
print(df.head())

   Gender  Height  Weight  Height_m        BMI
0    Male     174      96      1.74  31.708284
1    Male     189      87      1.89  24.355421
2  Female     185     110      1.85  32.140248
3  Female     195     104      1.95  27.350427
4    Male     149      61      1.49  27.476240

In [13]:
normal = len(df[(df['BMI']>=18.5)&(df['BMI']<23)])
overweight = len(df[(df['BMI']>=23)&(df['BMI']<25)])
print(normal)
print(overweight)

47
19

In [14]:
result = normal - overweight
print(result)

28

In [16]:
# 3
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/students.csv',encoding = 'cp949')
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체학생 수
0  A   1       9       1     222
1  A   2      13       4     148
2  A   3       8       7     196
3  B   1       7       5     171
4  B   2       9       1     216

In [18]:
df['순 전입학생 수'] = df['총 전입학생'] - df['총 전출학생']
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체학생 수  순 전입학생 수
0  A   1       9       1     222         8
1  A   2      13       4     148         9
2  A   3       8       7     196         1
3  B   1       7       5     171         2
4  B   2       9       1     216         8

In [19]:
result_df = df.groupby(['학교'])[['순 전입학생 수','전체학생 수']].sum()
print(result_df)

    순 전입학생 수  전체학생 수
학교
A         18     566
B         13     588
C         -9     528
D          7     548
E         14     603
F          1     481
G         10     618
H         -1     602

In [24]:
a = result_df.sort_values(by = '순 전입학생 수',ascending=False)
print(a)

    순 전입학생 수  전체학생 수
학교
A         18     566
E         14     603
B         13     588
G         10     618
D          7     548
F          1     481
H         -1     602
C         -9     528

In [25]:
print(a['전체학생 수'][0])

566

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_26856\1080747778.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a['전체학생 수'][0])

## 2유형

In [36]:
import pandas as pd

X_test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/used_car_X_test.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/used_car_X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/used_car_y_train.csv')

print(X_train.head())

   id model  year transmission  mileage fuelType  tax   mpg  engineSize
0   1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1   2   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2   3    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3   4    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4   5    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0

In [37]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())
print(y_train.isnull().sum())

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
id       0
price    0
dtype: int64

In [38]:
# 데이터 나누기
# 범주형 데이터
X_train_word = X_train[['model','transmission','fuelType']]
X_test_word = X_test[['model','transmission','fuelType']]
print(X_train_word)

     model transmission fuelType
0       A1    Automatic   Petrol
1      RS4    Semi-Auto   Petrol
2       A8    Semi-Auto   Diesel
3       Q5    Semi-Auto   Diesel
4       A5    Semi-Auto   Diesel
...    ...          ...      ...
7463    A3       Manual   Petrol
7464    Q2       Manual   Diesel
7465    A1    Semi-Auto   Petrol
7466    Q3       Manual   Diesel
7467    Q7    Automatic   Diesel

[7468 rows x 3 columns]

In [39]:
# 수치형 데이터
X_train_num = X_train.drop(columns = ['id','model','transmission','fuelType'])
X_test_num =  X_test.drop(columns = ['id','model','transmission','fuelType'])
print(X_train_num)

      year  mileage  tax   mpg  engineSize
0     2019     3500  145  40.9         2.0
1     2020     2500  145  28.8         2.9
2     2019      500  145  40.4         3.0
3     2019     5089  150  38.2         2.0
4     2020     4951  145  51.4         2.0
...    ...      ...  ...   ...         ...
7463  2016    22633   30  58.9         1.4
7464  2017    13272  145  64.2         1.6
7465  2019     5000  145  40.9         2.0
7466  2019       10  145  42.8         2.0
7467  2012    91229  300  39.2         3.0

[7468 rows x 5 columns]

In [40]:
# 데이터 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_num_scale = scaler.fit_transform(X_train_num)
X_test_num_scale = scaler.fit_transform(X_test_num)


df_train_num = pd.DataFrame(X_train_num_scale,columns = X_train_num.columns)
df_test_num = pd.DataFrame(X_test_num_scale,columns = X_test_num.columns)

df_train_word=  pd.get_dummies(X_train_word)
df_test_word = pd.get_dummies(X_test_word)

In [41]:
train_columns = set(df_train_word.columns)

test_columns = set(df_test_word.columns)

missing_in_test = train_columns - test_columns

missing_in_train = test_columns - train_columns

# 컬럼 목록 중 없는 컬럼의 값 0으로 대체
df_test_word['model_RS7'] = 0
df_test_word['model_S8'] = 0
df_test_word['model_A2'] = 0
df_test_word['model_S5'] = 0

df_train = pd.concat([df_train_num,df_train_word],axis = 1)
df_test = pd.concat([df_test_num, df_test_word],axis = 1)
print(df_train)

          year   mileage       tax       mpg  engineSize  model_ A1  \
0     0.954545  0.020825  0.250000  0.127811    0.317460       True
1     1.000000  0.014874  0.250000  0.056213    0.460317      False
2     0.954545  0.002970  0.250000  0.124852    0.476190      False
3     0.954545  0.030283  0.258621  0.111834    0.317460      False
4     1.000000  0.029461  0.250000  0.189941    0.317460      False
...        ...       ...       ...       ...         ...        ...
7463  0.818182  0.134701  0.051724  0.234320    0.222222      False
7464  0.863636  0.078987  0.250000  0.265680    0.253968      False
7465  0.954545  0.029753  0.250000  0.127811    0.317460       True
7466  0.954545  0.000054  0.250000  0.139053    0.317460      False
7467  0.636364  0.542972  0.517241  0.117751    0.476190      False

      model_ A2  model_ A3  model_ A4  model_ A5  ...  model_ S8  model_ SQ5  \
0         False      False      False      False  ...      False       False
1         False      False      False      False  ...      False       False
2         False      False      False      False  ...      False       False
3         False      False      False      False  ...      False       False
4         False      False      False       True  ...      False       False
...         ...        ...        ...        ...  ...        ...         ...
7463      False       True      False      False  ...      False       False
7464      False      False      False      False  ...      False       False
7465      False      False      False      False  ...      False       False
7466      False      False      False      False  ...      False       False
7467      False      False      False      False  ...      False       False

      model_ SQ7  model_ TT  transmission_Automatic  transmission_Manual  \
0          False      False                    True                False
1          False      False                   False                False
2          False      False                   False                False
3          False      False                   False                False
4          False      False                   False                False
...          ...        ...                     ...                  ...
7463       False      False                   False                 True
7464       False      False                   False                 True
7465       False      False                   False                False
7466       False      False                   False                 True
7467       False      False                    True                False

      transmission_Semi-Auto  fuelType_Diesel  fuelType_Hybrid  \
0                      False            False            False
1                       True            False            False
2                       True             True            False
3                       True             True            False
4                       True             True            False
...                      ...              ...              ...
7463                   False            False            False
7464                   False             True            False
7465                    True            False            False
7466                   False             True            False
7467                   False             True            False

      fuelType_Petrol
0                True
1                True
2               False
3               False
4               False
...               ...
7463             True
7464            False
7465             True
7466            False
7467            False

[7468 rows x 37 columns]

In [42]:
# 모델 학습
from pandas.core.common import random_state
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

model = xgb.XGBRegressor(random_state = 77)

X_train,X_val,y_train_t,y_val = train_test_split(df_train.values,y_train['price'].values,test_size=0.3)

model.fit(X_train,y_train_t)


y_pred = model.predict(X_val)
print(np.sqrt(mean_squared_error(y_val,y_pred)))

2549.9657572151928

In [43]:
# 예측
y_pred = model.predict(df_test)
df = pd.DataFrame(X_test['id'],columns = ['id'])
df['price'] = y_pred
print(df.head())

     id         price
0  7469  41858.433594
1  7470  22271.193359
2  7471  36721.925781
3  7472  20962.218750
4  7473  19095.955078

In [ ]:
# csv 저장
# df.to_csv('result.csv',index=False)