# Regression

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

c:\Users\kjh\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\kjh\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/auto-mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    396 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model-year    398 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 21.9 KB

In [4]:
corr = df.corr(method = 'pearson')
print(corr)

                   mpg  cylinders  displacement  horsepower    weight  \
mpg           1.000000  -0.775396     -0.804203   -0.777575 -0.831741
cylinders    -0.775396   1.000000      0.950721    0.843751  0.896017
displacement -0.804203   0.950721      1.000000    0.897787  0.932824
horsepower   -0.777575   0.843751      0.897787    1.000000  0.864350
weight       -0.831741   0.896017      0.932824    0.864350  1.000000
acceleration  0.420289  -0.505419     -0.543684   -0.687241 -0.417457
model-year    0.579267  -0.348746     -0.370164   -0.420697 -0.306564

              acceleration  model-year
mpg               0.420289    0.579267
cylinders        -0.505419   -0.348746
displacement     -0.543684   -0.370164
horsepower       -0.687241   -0.420697
weight           -0.417457   -0.306564
acceleration      1.000000    0.288137
model-year        0.288137    1.000000

In [5]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      2
weight          0
acceleration    0
model-year      0
dtype: int64

In [6]:
df = df.dropna(axis=0)

In [7]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model-year      0
dtype: int64

In [8]:
X = df[['weight']]
y = df['mpg']

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(316, 1)
(80, 1)
(316,)
(80,)

In [11]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [12]:
print('기울기 a:',lr.coef_)
print('y절편 b:',lr.intercept_)

기울기 a: [-0.00774371]
y절편 b: 46.625018347980465

In [13]:
pred = lr.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
score = r2_score(y_test,pred)
print(score)

0.7015633872576374

In [15]:
pred = lr.predict(X_train)

from sklearn.metrics import r2_score
score = r2_score(y_train,pred)
print(score)

0.6875735975346925

In [16]:
# 추가작업
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/auto-mpg.csv')
df = df.dropna(axis=0)

X = df[['horsepower']]
y = df['mpg']


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

lr = LinearRegression()
lr.fit(X_train,y_train)

print('기울기 a: ',lr.coef_)
print('y절편 b:', lr.intercept_)

pred = lr.predict(X_test)

from sklearn.metrics import r2_score
score = r2_score(y_test,pred)
print(score)

기울기 a:  [-0.16035108]
y절편 b: 40.313418327064824
0.6039842414538835

## 다중선형회귀

In [17]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/housing.csv')

In [30]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [32]:
# 전처리
df = df.dropna(axis=0) # 결측치 행 제거

# 범주형 변수 분석에서 제거
df = df.drop('ocean_proximity',axis=1)

In [33]:
corr = df.corr(method = 'pearson')
print(corr)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924616           -0.109357     0.045480
latitude            -0.924616  1.000000            0.011899    -0.036667
housing_median_age  -0.109357  0.011899            1.000000    -0.360628
total_rooms          0.045480 -0.036667           -0.360628     1.000000
total_bedrooms       0.069608 -0.066983           -0.320451     0.930380
population           0.100270 -0.108997           -0.295787     0.857281
households           0.056513 -0.071774           -0.302768     0.918992
median_income       -0.015550 -0.079626           -0.118278     0.197882
median_house_value  -0.045398 -0.144638            0.106432     0.133294

                    total_bedrooms  population  households  median_income  \
longitude                 0.069608    0.100270    0.056513      -0.015550
latitude                 -0.066983   -0.108997   -0.071774      -0.079626
housing_median_age       -0.320451   -0.295787   -0.302768      -0.118278
total_rooms               0.930380    0.857281    0.918992       0.197882
total_bedrooms            1.000000    0.877747    0.979728      -0.007723
population                0.877747    1.000000    0.907186       0.005087
households                0.979728    0.907186    1.000000       0.013434
median_income            -0.007723    0.005087    0.013434       1.000000
median_house_value        0.049686   -0.025300    0.064894       0.688355

                    median_house_value
longitude                    -0.045398
latitude                     -0.144638
housing_median_age            0.106432
total_rooms                   0.133294
total_bedrooms                0.049686
population                   -0.025300
households                    0.064894
median_income                 0.688355
median_house_value            1.000000

In [34]:
X = df.drop('median_house_value',axis=1)
y = df['median_house_value']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 42)

In [35]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(16346, 8)
(4087, 8)
(16346,)
(4087,)

In [36]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [37]:
print('기울기 :',lr.coef_)
print('y절편 :', lr.intercept_)

기울기 : [-4.25467060e+04 -4.23360430e+04  1.15509711e+03 -8.44041848e+00
  1.15830375e+02 -3.67587673e+01  4.16404344e+01  4.02932784e+04]
y절편 : -3569674.526695943

In [38]:
pred = lr.predict(X_test)

In [39]:
from sklearn.metrics import r2_score
score = r2_score(y_test,pred)
print(score)

0.6400865688993702

In [40]:
pred = lr.predict(X_train)

from sklearn.metrics import r2_score
score = r2_score(y_train,pred)
print(score)

0.6360185727313741

## 의사결정나무

In [41]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/housing.csv')

In [43]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [45]:
df = df.dropna(axis=0)
df = df.drop('ocean_proximity',axis=1)

In [46]:
corr = df.corr(method = 'pearson')
print(corr)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924616           -0.109357     0.045480
latitude            -0.924616  1.000000            0.011899    -0.036667
housing_median_age  -0.109357  0.011899            1.000000    -0.360628
total_rooms          0.045480 -0.036667           -0.360628     1.000000
total_bedrooms       0.069608 -0.066983           -0.320451     0.930380
population           0.100270 -0.108997           -0.295787     0.857281
households           0.056513 -0.071774           -0.302768     0.918992
median_income       -0.015550 -0.079626           -0.118278     0.197882
median_house_value  -0.045398 -0.144638            0.106432     0.133294

                    total_bedrooms  population  households  median_income  \
longitude                 0.069608    0.100270    0.056513      -0.015550
latitude                 -0.066983   -0.108997   -0.071774      -0.079626
housing_median_age       -0.320451   -0.295787   -0.302768      -0.118278
total_rooms               0.930380    0.857281    0.918992       0.197882
total_bedrooms            1.000000    0.877747    0.979728      -0.007723
population                0.877747    1.000000    0.907186       0.005087
households                0.979728    0.907186    1.000000       0.013434
median_income            -0.007723    0.005087    0.013434       1.000000
median_house_value        0.049686   -0.025300    0.064894       0.688355

                    median_house_value
longitude                    -0.045398
latitude                     -0.144638
housing_median_age            0.106432
total_rooms                   0.133294
total_bedrooms                0.049686
population                   -0.025300
households                    0.064894
median_income                 0.688355
median_house_value            1.000000

In [47]:
X = df.drop('median_house_value',axis=1)
y = df['median_house_value']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [48]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(16346, 8)
(4087, 8)
(16346,)
(4087,)

In [49]:
dtr = DecisionTreeRegressor(max_depth = 3,random_state = 42)
dtr.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=3, random_state=42)

In [50]:
pred = dtr.predict(X_test)

In [51]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,pred)
print(mse)

7056833754.187382

In [52]:
pred = dtr.predict(X_train)

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_train,pred)
print(mse)

6636838236.287059

## RandomForest

In [53]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [54]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/housing.csv')

In [55]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [57]:
df = df.dropna(axis = 0)
df = df.drop('ocean_proximity',axis=1)

In [58]:
corr = df.corr(method = 'pearson')
df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924616,-0.109357,0.045480,0.069608,0.100270,0.056513,-0.015550,-0.045398
latitude,-0.924616,1.000000,0.011899,-0.036667,-0.066983,-0.108997,-0.071774,-0.079626,-0.144638
housing_median_age,-0.109357,0.011899,1.000000,-0.360628,-0.320451,-0.295787,-0.302768,-0.118278,0.106432
total_rooms,0.045480,-0.036667,-0.360628,1.000000,0.930380,0.857281,0.918992,0.197882,0.133294
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.100270,-0.108997,-0.295787,0.857281,0.877747,1.000000,0.907186,0.005087,-0.025300
households,0.056513,-0.071774,-0.302768,0.918992,0.979728,0.907186,1.000000,0.013434,0.064894
median_income,-0.015550,-0.079626,-0.118278,0.197882,-0.007723,0.005087,0.013434,1.000000,0.688355
median_house_value,-0.045398,-0.144638,0.106432,0.133294,0.049686,-0.025300,0.064894,0.688355,1.000000

In [59]:
X = df.drop('median_house_value',axis=1)
y = df['median_house_value']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

In [60]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(14303, 8)
(6130, 8)
(14303,)
(6130,)

In [61]:
rfr = RandomForestRegressor(max_depth = 3,random_state = 42)
rfr.fit(X_train,y_train)

RandomForestRegressor(max_depth=3, random_state=42)

In [62]:
pred = rfr.predict(X_test)

In [63]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,pred)
print(mse)

6447828605.376922

In [66]:
pred = rfr.predict(X_train)

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_train,pred)
print(mse)

6342421033.759215