# 비지도학습

## K-Means

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans

c:\Users\kjh\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\kjh\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/iris.csv')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
df['species'] = LabelEncoder().fit_transform(df['species'])
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [6]:
X = df[['sepal_length','sepal_width','petal_length','petal_width']]

In [7]:
cluster1 = KMeans(n_clusters=3,n_init=10,max_iter=500,random_state=42)
cluster1.fit(X)

C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(max_iter=500, n_clusters=3, n_init=10, random_state=42)

In [8]:
cluster_center = cluster1.cluster_centers_
cluster_prediction = cluster1.predict(X)
print(pd.DataFrame(cluster_center))
print(cluster_prediction)

          0         1         2         3
0  5.901613  2.748387  4.393548  1.433871
1  5.006000  3.428000  1.462000  0.246000
2  6.850000  3.073684  5.742105  2.071053
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 2 2 2 0 2 2 2 2
 2 2 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 0 2
 2 0]

In [9]:
df['cluster'] = cluster_prediction
df

     sepal_length  sepal_width  petal_length  petal_width  species  cluster
0             5.1          3.5           1.4          0.2        0        1
1             4.9          3.0           1.4          0.2        0        1
2             4.7          3.2           1.3          0.2        0        1
3             4.6          3.1           1.5          0.2        0        1
4             5.0          3.6           1.4          0.2        0        1
..            ...          ...           ...          ...      ...      ...
145           6.7          3.0           5.2          2.3        2        2
146           6.3          2.5           5.0          1.9        2        0
147           6.5          3.0           5.2          2.0        2        2
148           6.2          3.4           5.4          2.3        2        2
149           5.9          3.0           5.1          1.8        2        0

[150 rows x 6 columns]

In [10]:
scope = range(1,10)
inertias = []

for k in scope:
    model = KMeans(n_clusters = k,n_init = 10,max_iter=500,random_state = 42)
    model.fit(X)
    inertias.append(model.inertia_)
    print(k,inertias[k-1])

1 681.3706

C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

2 152.34795176035792
3 78.85144142614601
4 57.228473214285714
5 46.46117267267268
6 39.03998724608725

C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

7 34.30581529581529
8 30.13244055461447

C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

9 28.290635241951037

## 연관분석

In [11]:
import numpy as np
import pandas as pd

from mlxtend.frequent_patterns import apriori,association_rules

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/retail_dataset.csv',sep=',')

In [13]:
df

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       315 non-null    object
 1   1       285 non-null    object
 2   2       245 non-null    object
 3   3       187 non-null    object
 4   4       133 non-null    object
 5   5       71 non-null     object
 6   6       41 non-null     object
dtypes: object(7)
memory usage: 17.4+ KB

In [15]:
# 전처리
items = set()
for col in df:
    items.update(df[col].unique())


itemset = set(items)
encoding = []
for index,row in df.iterrows():
    rowset = set(row)
    labels = {}
    dismatching = list(itemset-rowset)
    matching = list(itemset.intersection(rowset))
    for i in dismatching:
        labels[i] = 0
    for j in matching:
        labels[j] = 1
    encoding.append(labels)
encoding[0]
result = pd.DataFrame(encoding)

result

     NaN  Milk  Bagel  Bread  Meat  Pencil  Cheese  Wine  Eggs  Diaper
0      0     0      0      1     1       1       1     1     1       1
1      0     1      0      1     1       1       1     1     0       1
2      1     1      0      0     1       0       1     1     1       0
3      1     1      0      0     1       0       1     1     1       0
4      1     0      0      0     1       1       0     1     0       0
..   ...   ...    ...    ...   ...     ...     ...   ...   ...     ...
310    1     0      0      1     0       0       1     0     1       0
311    1     1      0      0     1       1       0     0     0       0
312    0     0      0      1     1       1       1     1     1       1
313    1     0      0      0     1       0       1     0     0       0
314    1     0      1      1     1       0       0     1     1       0

[315 rows x 10 columns]

In [16]:
result  = result.drop(result.columns[0],axis=1)
result

     Milk  Bagel  Bread  Meat  Pencil  Cheese  Wine  Eggs  Diaper
0       0      0      1     1       1       1     1     1       1
1       1      0      1     1       1       1     1     0       1
2       1      0      0     1       0       1     1     1       0
3       1      0      0     1       0       1     1     1       0
4       0      0      0     1       1       0     1     0       0
..    ...    ...    ...   ...     ...     ...   ...   ...     ...
310     0      0      1     0       0       1     0     1       0
311     1      0      0     1       1       0     0     0       0
312     0      0      1     1       1       1     1     1       1
313     0      0      0     1       0       1     0     0       0
314     0      1      1     1       0       0     1     1       0

[315 rows x 9 columns]

In [26]:
result

     Milk  Bagel  Bread  Meat  Pencil  Cheese  Wine  Eggs  Diaper
0       0      0      1     1       1       1     1     1       1
1       1      0      1     1       1       1     1     0       1
2       1      0      0     1       0       1     1     1       0
3       1      0      0     1       0       1     1     1       0
4       0      0      0     1       1       0     1     0       0
..    ...    ...    ...   ...     ...     ...   ...   ...     ...
310     0      0      1     0       0       1     0     1       0
311     1      0      0     1       1       0     0     0       0
312     0      0      1     1       1       1     1     1       1
313     0      0      0     1       0       1     0     0       0
314     0      1      1     1       0       0     1     1       0

[315 rows x 9 columns]

In [31]:
# apriori
freq_items = apriori(result,min_support = 0.2,use_colnames = True)

C:\Users\kjh\AppData\Roaming\Python\Python39\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [32]:
freq_items

     support              itemsets
0   0.501587                (Milk)
1   0.425397               (Bagel)
2   0.504762               (Bread)
3   0.476190                (Meat)
4   0.361905              (Pencil)
5   0.501587              (Cheese)
6   0.438095                (Wine)
7   0.438095                (Eggs)
8   0.406349              (Diaper)
9   0.225397         (Milk, Bagel)
10  0.279365         (Bread, Milk)
11  0.244444          (Milk, Meat)
12  0.304762        (Cheese, Milk)
13  0.219048          (Milk, Wine)
14  0.244444          (Milk, Eggs)
15  0.279365        (Bread, Bagel)
16  0.206349         (Bread, Meat)
17  0.200000       (Bread, Pencil)
18  0.238095       (Bread, Cheese)
19  0.244444         (Bread, Wine)
20  0.231746       (Bread, Diaper)
21  0.323810        (Cheese, Meat)
22  0.250794          (Meat, Wine)
23  0.266667          (Meat, Eggs)
24  0.200000      (Pencil, Cheese)
25  0.200000        (Pencil, Wine)
26  0.269841        (Cheese, Wine)
27  0.298413        (Cheese, Eggs)
28  0.200000      (Cheese, Diaper)
29  0.241270          (Eggs, Wine)
30  0.234921        (Wine, Diaper)
31  0.203175  (Cheese, Milk, Meat)
32  0.215873  (Cheese, Meat, Eggs)

In [ ]:
# 이거 왜 오류??
# 해결이 안 됨
rules = association_rules(freq_items,metric = 'confidence',min_threshold = 0.6)
rules.head()

TypeError: association_rules() missing 1 required positional argument: 'num_itemsets'

In [34]:
import mlxtend
print(mlxtend.__version__)

0.23.3